@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap");

@layer utilities {
  body {
    background-color: #0c0c0c;
  }

  /* Vertical Text Styling in Hero component */
  .vertical-text {
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .vertical-text::after {
    content: "";
    display: block;
    width: 1px;
    height: 13.5rem;
    margin: 0px auto 2.9rem auto;
    background-color: #bcb8b1;
  }

  /* Grid columns */
  .grid-cols-aboutme {
    grid-template-columns: 3fr 2fr;
  }
}
